/*
    Fonts 

    Color Scheme
    black - #000
    white - #fff
    grey - #ccc
*/

/* CSS Box Model Fix */
body {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1em;
}

a {

}

header {

}

nav {

}

/*@media screen and (max-width: 480px){
    /* smartphones 

} /* end of smartphone rules */

@media screen and (min-width: 768px) {
    /* tablet rules
    Don't Portrait and Landscape */

    body {
        font-size: 1.4em;
    }

} /* end of tablet rules */

@media screen and (min-width: 1024px) {
    /* desktop mode */

    body {
        font-size: 1.8em;
    }
}

/*
    @media (min-width: 30em) and (max-width: 50em) {

    }

    @media (width <= 1250px) {

    }

    @media screen and (min-width: 30em) and (orientation: landscape) {

    }
*/